.presentation-container {
    margin-bottom: 14rem;
}

/* Place image underneath header */
.img-container {
    position: relative;
    z-index: 1;
}

/* Mobile Background */
.bg-mobile {
    width: 100%;
}

/* Desktop Background */
.bg-desktop {
    display: none;
}

.phones-img {
    position: absolute;
    right: 0;
    left: 0;
    top: -20px;

    width: 80%;
    margin: 0 auto;
}

.presentation-text {
    width: 90%;
    height: 200px;
    margin: 0 auto;

    text-align: center;
}

.presentation-text h1 {
    font-weight: 100;
    color: var(--Dark-Blue);
    font-size: 3.7rem;
}

.presentation-text p {
    margin: 1.8rem 0;

    color: var(--Grayish-Blue);

    line-height: 2.5rem;
    font-size: 1.4rem;
    font-weight: 100;
}

/* Mobile Landscape - CSS Responsive */
@media screen and (orientation:landscape) {
    .phones-img {
        top: -280px;
    }

    .presentation-text {
        width: 90%;
        height: 200px;
        margin: 8.5rem auto auto;

        text-align: center;
    }
}

/* DESKTOP Computer - CSS Responsive */
@media(min-width: 1440px) {
    .bg-mobile {
        display: none;
    }

    .bg-desktop {
        display: block;
        width: 100%;
        margin-top: 250px;
    }

    .phones-img {
        top: 260px;

        width: 570px;
        max-height: none;
        margin: 0 auto;
    }

    .presentation-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        width: 75%;
        height: 500px;
        margin: 0 auto;
    }

    .img-container,
    .presentation-text {
        width: 50%;

        font-size: 1.8rem;
        text-align: left;
    }

    .presentation-text h1 {
        color: var(--Dark-Blue);

        width: 65%;
        font-size: 4.5rem;
    }

    .presentation-text p {
        width: 60%;
        font-size: 1.7rem;
    }

}