header {
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem 0rem;

    z-index: 10;
    position: relative;

    background-color: var(--White);
}

.menu-header,
.nav-mobile {
    width: 90%;
    margin: 0 auto;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hamburguer Logo */
.menu-header>svg:nth-child(2) {
    cursor: pointer;
}

/* DESKTOP - CSS Responsive */
@media(min-width: 1440px) {
    header {
        background-color: #fff;
        width: 100%;
    }

    .menu-header,
    .nav-mobile {
        width: 75%;
    }
}