.nav-mobile {
    width: 100%;
    margin: 4.2rem auto 0;

    background-color: var(--White);

    border-radius: 5px;
}

.nav-mobile nav {
    height: 200px;
}

.nav-mobile nav ul {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav-mobile nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-mobile nav ul li {
    font-size: 1.8rem;
    color: var(--Dark-Blue);
}