footer {
    width: 100%;
    background-color: var(--Dark-Blue);
}

/* *** Footer Container to center content *** */
.footer-content-container {
    padding: 2rem 0;
    width: 75%;
    height: 500px;
    margin: 0 auto;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* ***** SECTION ONE ***** */
/* *** Social Media Icons *** */
.social-media-container {
    margin: 3rem 0 0 0;
}

.social-media-container a {
    margin: 0 1.4rem 0 0;
}

/* ***** SECTION TWO ***** */
/* Part of CSS code below is used for DESKTOP-NAV class */
.section-two p,
.section-three p,
/* DESKTOP-NAV class */
.desktop-nav p {
    margin: 1.6rem 0;

    font-size: 1.6rem;
    font-weight: 100;

    color: var(--Very-Light-Gray);

    cursor: pointer;
}

.section-three p {
    cursor: unset;
}

.desktop-nav {
    display: none;
}

.section-three p {
    margin: 1.5rem 0 0 0;
    font-size: 1rem;

    color: var(--Grayish-Blue);
}

/* DESKTOP - CSS Responsive */
@media (min-width: 1440px) {
    .footer-content-container {
        height: 300px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        align-items: center;
    }

    /* Remove part of LINKS dedicated to mobile. */
    .mobile-nav {
        display: none;
    }

    /* Add part of LINKS dedicated to mobile. */
    .desktop-nav {
        display: block;
    }

    .section-one {
        text-align: left;
    }

    .social-media-container {
        margin: 5rem 0 0 0;
    }

    .section-two,
    .desktop-nav {
        width: 120px;
        margin: 0 auto;

        text-align: left;
    }

    .section-three {
        text-align: right;
    }

    .section-three button {
        margin: 0 0 4rem 0;
    }

    .section-three p {
        font-size: 1.4rem;
    }
}