footer {
    width: 100%;
    background-color: var(--Dark-Blue);
}

/* *** Footer Container to center content *** */
.footer-content-container {
    padding: 2rem 0;
    width: 75%;
    height: 500px;
    margin: 0 auto;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* ***** SECTION ONE ***** */
/* *** Social Media Icons *** */
.social-media-container {
    margin: 3rem 0 0 0;
}

.social-media-container a {
    margin: 0 1rem;
}

/* ***** SECTION TWO ***** */
.section-two p,
.section-three p {
    font-size: 1.6rem;
    font-weight: 100;
    color: var(--Very-Light-Gray);

    margin: 1.6rem 0;

    cursor: pointer;
}

.section-three p {
    margin: 1.5rem 0 0 0;
    font-size: 1rem;

    color: var(--Grayish-Blue);
}