:root {
    /* *** Global Colors *** */
    /* Primary Colors */
    --Dark-Blue: hsl(223, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /* Neutral Colors */
    --Grayish-Blue: hsl(223, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    /* 1rem = 10px */
    font-size: 62.5%;
}

/* CSS Erase for all tags + body */
*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Public Sans',
        sans-serif;
}

button {
    padding: 1.2rem 3rem;

    border-radius: 20px;
    border: none;

    font-size: 1.4rem;
    font-weight: 500;

    color: var(--White);

    background: rgb(49, 211, 92);
    background: -moz-linear-gradient(90deg, rgba(49, 211, 92, 1) 0%, rgba(43, 183, 218, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(49, 211, 92, 1) 0%, rgba(43, 183, 218, 1) 100%);
    background: linear-gradient(90deg, rgba(49, 211, 92, 1) 0%, rgba(43, 183, 218, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#31d35c", endColorstr="#2bb7da", GradientType=1);

    cursor: pointer;
}